################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.wsuo
*.json
*.sqlite
*.sqlite-journal
/.vs/IERS.AccessLevelServices/FileContentIndex/read.lock
