@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1>Welcome to UserManagmentSolution</h1>
    <p>This demo shows Authentication, role-based dashboards and user management.</p>
</div>
